{% extends 'base.html.twig' %}
{% block title %}Voiture
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="title text-center mt-4">Annonces pour la marque :
			{{marq.name}}</h1>
      <table class="table">
        <tbody>
          {% for marque in marques %}
            <tr>
              <td><a href="{{ path('card', {'id':marque.id}) }}" class="link-dark">{{ marque.name }}</a></td>
            </tr>
          {% else %}
            <tr>
              <td colspan="3">no records found</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
		<div class="cards-container">
			<div class="cards">
				{% for annonce in marq.annonces %}
					<div class="card" style="width: 18rem;">
						<img class="card-img-top" src="{{asset('images_directory/' ~ annonce.imgfile )}}" alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title">
								{{annonce.marque.name}}
							</h5>
							<p class="card-text">
								{{annonce.description|raw}}
							</p>
							<a href="{{ path('app_annonce_show', {'id': annonce.id}) }}" class="btn btn-success d-flex align-items-center">Voir en détail</a>
						</div>
					</div>
				{% else %}
					<tr>
						<td colspan="3">no records found</td>
					</tr>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
