{% extends 'base.html.twig' %}

{% block title %}Profil
{% endblock %}

{% block body %}
	<h1 class="title text-center mt-4">Les annonces de :
		{{app.user.username}}
	</h1>
	<div class="cards-container">
		<div class="cards">
			{% for annonce in annonces %}
				<div class="card" style="width: 18rem;">
					<img class="card-img-top" src="{{asset('images_directory/' ~ annonce.imgfile )}}" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">
							{{annonce.title}}
						</h5>
						<p class="card-text">
							{{annonce.description|raw}}
						</p>
						<a href="{{ path('app_annonce_show', {'id': annonce.id}) }}" class="btn btn-success d-flex align-items-center">Voir en détail</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

	<h1 class="title text-center mt-4">Mes annonces favorites</h1>
	{% for annonce in annoncesFav %}
			<div class="cards-container">
				<div class="card" style="width: 18rem;">
					<img class="card-img-top" src="{{asset('images_directory/' ~ annonce.annonces.imgfile )}}" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">
							{{annonce.annonces.title}}
						</h5>
						<p class="card-text">
							{{annonce.annonces.description|raw}}
						</p>
						<a href="{{ path('app_annonce_show', {'id': annonce.annonces.id}) }}" class="btn btn-success d-flex align-items-center">Voir en détail</a>
					{% if annonce.annonces.isUserfav(app.user) %}
									<a href="{{ path('app_annonce_fav', {'id': annonce.id}) }}">
										<i class="fa-solid fa-heart"></i>
									</a>
								{% endif %}
          </div>
				</div>
			</div>
	{% endfor %}

{% endblock %}
