{{ form_start(form) }}
<div class="col w-75">{{ form_row(form.name) }}</div>
    {# {{ form_widget(form) }} #}
    <div class="d-flex justify-content-start mt-3">
        <button class="btn btn-info">{{ button_label|default('Save') }}</button>
    </div>
{{ form_end(form) }}
